<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nava.mijornada">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">
        <activity
            android:name=".equipo.AltasEquipo"
            android:exported="true">
        </activity>
        <activity
            android:name=".equipo.BajasEquipo"
            android:exported="true">
        </activity>
        <activity
            android:name=".equipo.CambiosEquipo"
            android:exported="true">
        </activity>
        <activity
            android:name=".partido.AltasPartido"
            android:exported="true">
        </activity>
        <activity
            android:name=".partido.BajasPartido"
            android:exported="true">
        </activity>
        <activity
            android:name=".partido.CambiosPartido"
            android:exported="true">
        </activity>
        <activity
            android:name=".partido.ResultadosPartido"
            android:exported="true">
        </activity>
        <activity
            android:name=".partido.PartidoView"
            android:exported="true">
        </activity>
        <activity
            android:name=".estadisticas.EstadisticaView"
            android:exported="true">
        </activity>
        <activity
            android:name=".estadisticas.EstadisticasEquipo"
            android:exported="true">
        </activity>
        <activity
            android:name=".equipo.EquipoView"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>